ultralytics
opencv-python # used for inferencing
supervision

torch
torchvision

pillow
pathlib
numpy


# Requires chromedriver. Download from https://chromedriver.chromium.org/
tqdm
selenium

scikit-image
requests
bs4
